rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{coll}/{documentId} {
      // Security rules for the "users" collection
      allow read: if coll == "users";
      allow write: if coll == "users" && request.auth != null && request.auth.uid == documentId;

      // Security rules for the "My Desing" collection (portfolio designs and palettes)
      allow read: if coll == "My Desing";
      allow create, update, delete: if coll == "My Desing" && request.auth != null;
    }
  }
}
